
<h1>Clubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.address %></td>
        <td><%= link_to 'Show Sections', club %></td>
        <% if current_user && (current_user.admin? || current_user.master?) %>
            <td><%= link_to 'Edit', edit_club_path(club) %></td>
            <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if current_user && current_user.clubs.include?(club) && current_user.user? %>
                <td><strong>Reserved</td>
                <td><%= link_to "Unfollow", club_cancell_path(club_id: club.id), method: :delete, data: {confirm: "Do you sure?"}   %></td>
        <% else %>
                <td><%= link_to "Follow", club_enroll_path(club_id: club.id), method: :post if current_user && current_user.user? %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && (current_user.admin? || current_user.master?) %>
  <%= link_to 'New Clubs', new_club_path %>
<% end %>
